<div class="double-body">
    <img class="logo" src="../img/icons/logo.svg">
    <h2>Fortune</h2>
    <div class="green-line"></div>
    <div class="double-body__roulette">
        <img class="wheel" src="../img/icons/roulette.svg">
        <img class="arrow" src="../img/icons/arrow-roulette.svg">
        <span class="double-body__roulette__timer">19.59</span>
        <span class="double-body__roulette__name">EASYMONEY</span>
        <div class="double-body__roulette__history">
            <div class="double-body__roulette__history__game blue"></div>
            <div class="double-body__roulette__history__game black"></div>
            <div class="double-body__roulette__history__game black"></div>
            <div class="double-body__roulette__history__game red"></div>
            <div class="double-body__roulette__history__game blue"></div>
            <div class="double-body__roulette__history__game black"></div>
            <div class="double-body__roulette__history__game green"></div>
            <div class="double-body__roulette__history__game green"></div>
            <div class="double-body__roulette__history__game black"></div>
            <div class="double-body__roulette__history__game black"></div>
        </div>
    </div>
    <div class="double-body__stats">
        <div class="double-body__stats__user">
            <span class="double-body__stats__balance">
                Ваш баланс:
                <span class="balance">38000</span>
                <img src="../img/coin.png">
            </span>
            <span class="double-body__stats__history"><img src="../img/icons/history.svg"> Моя история игр</span>
        </div>
        <input type="number">
        <div class="double-body__stats__buttons">
            <button class="delete_amount">X</button>
            <button class="add_10">+10</button>
            <button class="add_100">+100</button>
            <button class="add_1000">+1000</button>
            <button class="add_10000">+10000</button>
            <button class="add_half">1/2</button>
            <button class="add_same-again">x2</button>
            <button class="add_all">Всё</button>
        </div>
    </div>
    <div class="double-body__bets">
        <div class="double-body__bets__bet">
            <h6 class="black">Ставка x2</h6>
            <span>Сумма: <label>38000</label><img src="../img/coin.png"></span>
            <div class="double-body__bets__bet__users">
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
            </div>
            <div class="double-body__bets__bet__others">
                <span>Ещё 37 ставок на 376 <img src="../img/coin.png"></span>
            </div>
        </div>
        <div class="double-body__bets__bet">
            <h6 class="blue">Ставка x3</h6>
            <span>Сумма: <label>38000</label><img src="../img/coin.png"></span>
            <div class="double-body__bets__bet__users">
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
            </div>
            <div class="double-body__bets__bet__others">
                <span>Ещё 37 ставок на 376 <img src="../img/coin.png"></span>
            </div>
        </div>
        <div class="double-body__bets__bet">
            <h6 class="green">Ставка x5</h6>
            <span>Сумма: <label>38000</label><img src="../img/coin.png"></span>
            <div class="double-body__bets__bet__users">
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
            </div>
            <div class="double-body__bets__bet__others">
                <span>Ещё 37 ставок на 376 <img src="../img/coin.png"></span>
            </div>
        </div>
        <div class="double-body__bets__bet">
            <h6 class="red">Ставка x50</h6>
            <span>Сумма: <label>38000</label><img src="../img/coin.png"></span>
            <div class="double-body__bets__bet__users">
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
                <div class="double-body__bets__user">
                    <div class="photo"><img <%= photo %>></div>
                    <span class="fullname">Кирилл Арефьев</span>
                    <span class="bet-amount">300 <img src="../img/coin.png"></span>
                </div>
            </div>
            <div class="double-body__bets__bet__others">
                <span>Ещё 37 ставок на 376 <img src="../img/coin.png"></span>
            </div>
        </div>
    </div>
</div>